{% extends "layout.html" %}
{% block content %}
<br><br>  
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ form.clean_option.label }}</legend>
            Choose cleaning database (wait a few seconds for info):<br>
            {% for choice in form.clean_option.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clean_option" id="{{ choice[0] }}" value="{{ choice[0] }}">
                    <label class="form-check-label" for="{{ choice[0] }}">
                    {{ choice[1] }}
                    </label>
                </div>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>
<div class="text-center p-4 fixed-bottom" style="background-color: #ffe2c5">
    Łukasz Wajda<br>
    Przetwarzanie danych w chmurach obliczeniowych<br>
    2022-12<br><br>
    <small class="text-muted">
        Proof-of-concept project
    </small>
</div>
{% endblock content %}