{% extends "layout.html" %}
{% block content %}
<br><br>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Remove member</legend>
            <div class="form-group">
                <label for="firstPerson">Choose members to remove:</label><br>
                <select name="firstPerson" id="firstPerson" class="form-select">
                    <option value="">choose members</option>
                    {% for option in options %}
                        <option value="{{option[0]}}">{{option[1]}}</option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>
<div class="text-center p-4 fixed-bottom" style="background-color: #ffe2c5">
    Łukasz Wajda<br>
    Przetwarzanie danych w chmurach obliczeniowych<br>
    2022-12<br><br>
    <small class="text-muted">
        Proof-of-concept project
    </small>
</div>
{% endblock content %}